{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {
          "browsers": ["last 2 versions", "ie >= 9"]
        }
      }
    ],
    "@babel/preset-typescript",
    "@vue/babel-preset-jsx"
  ],
  "plugins": [
    ["import", { "libraryName": "ant-design-vue", "style": "css" }],
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }]
  ],
  "ignore": ["node_modules"]
}
